.button{
                background: url(img/parks/${park.parkCode}.jpg) no-repeat;
                cursor:pointer;
                border: none;
                padding: 0;
                background: none;
                height:400px;
                width:1200px;
            }
<button class="accordion" <font size="7" color="white">YOSEMITE</font></button> 
		